<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>我的项目</title> 
	</head>
	<frameset rows="74,*" cols="100%" frameborder="no" border="0" framespacing="0" scrolling="no" >
		 <frame src="{:U('Index/top')}" name="topFrame" scrolling="no" noresize="noresize" id="topFrame" title="topFrame">
		 <frameset cols="187,*" frameborder="no" border="0" framespacing="0">
		  <frame src="{:U('Index/menu')}" name="leftFrame" scrolling="no" noresize="noresize" id="leftFrame" title="leftFrame">
		  <frame src="{:U('Index/main')}" name="mainFrame" id="mainFrame" title="mainFrame">
		 </frameset> 
	</frameset>
	<noframes>
	<body>
	<p>对不起，您的浏览器不支持“框架”！</p>
	</body>
	</noframes>
</html>