<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name=”renderer” content=”ie-comp” />
<title>ebook</title>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>

<div  align="center" >
<embed id="aaa" src="" allowFullScreen="true" allowFullScreenInteractive="true" wmode="transparent" quality="high" width="1024" height="618" align="L" scale="noborder" flashvars="{$url}" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" >
</embed>

</div>



 <script language="JavaScript">
 var type = GetQueryString('type');
 if(type == 1){
	$('#aaa').attr('src','__BASEDIR__/book_del.swf?ran='+Math.random());
 }else{
	$('#aaa').attr('src','__BASEDIR__/book.swf?ran='+Math.random());
 }
 
     //播放
     function eTeachingMaterialResPlayer(dataStr){
         alert("aaa"+dataStr);
    //Rcode,RFormatMark,RTitle
     }

     function sayHello(name) {
         alert("hello, " + name);
     }
     function requestVcomDivFullScreen(){
            $('#aaa').attr('width','100%');
            $('#aaa').attr('height','800px');
     }

 function closeETeachingMaterial(){
    //alert('sss');
    window.opener=null;
window.open('','_self');
window.close();
 }
 function GetQueryString(name) {
  var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
  var r = window.location.search.substr(1).match(reg);
  if (r != null) return decodeURI(unescape(r[2]));
  return null;
}
 </script>
<body>
</body>
</html>
