<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>版本列表</title>
<link href="__PUBLIC__/style/manage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/js/iframeTools.js"></script>
</head>
<body>
<div class="place"><strong>位置</strong>：首页 &gt; 生字动画列表</div>
<div class="container">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box_border">
  <tr>
    <td class="box_top pl_10 f14"><strong>搜索</strong></td>
  </tr>
  <tr>
    <td class="pl_5"><table border="0" cellspacing="0" cellpadding="0" class="form_table">
      <tr>
        <td width="50" align="right">年级：</td>
        <td>
          <select name="nianji" id="nianji" class="select">
          </select>
        </td>
        <td width="50" align="right">学期：</td>
        <td>
          <select name="xueqi" id="xueqi" class="select">
          </select>
        </td>
        <td width="50" align="right">版本：</td>
        <td>
          <select name="banben" id="banben" class="select">
          </select>
        </td>
      </tr>
    </table></td>
  </tr>
</table>
<div class="h10"></div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table" id="table_data">
  <tr>
  	<th width="30" align="center">&nbsp;</th>
    <th width="30" align="center">序号</th>
    <th width="260">课程名称</th>
	<th width="260">h5URL</th>
    <th width="40" align="center">已上传</th>
    <th>操作</th>
  </tr>
</table>
<table style="display:none" id="table_demo">
  <tr class="tr">
  	<td align="center"></td>
    <td align="center">
    	<input type="text" name="xuhao" style="width:30px;" class="input-text" value="">
	</td>
    <td align="left"></td>
	<td align="left"></td>
    <td align="center">否</td>
    <td align="left">
      <a href="../Hanzi/flashdown" target="_blank" class="ext_btn ext_btn_error">下载</a>
	  <input type="button" name="up" value="上传" class="ext_btn ext_btn_success"/>
	  <input type="button" name="del" value="删除" class="ext_btn ext_btn_submit"/>
    <input type="button" name="down" value="下载html" class="ext_btn ext_btn_success"/>
	<input type="button" name="downjson" value="下载h5JSON" class="ext_btn ext_btn_error"/>
    </td>
  </tr>
</table>
<div class="h5"></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box_border">
  <tr>
    <td class="pl_10" height="42">
    	<input id="sort" type="button" class="ext_btn ext_btn_submit" value="保存次序">&nbsp;&nbsp;&nbsp;
      <input type="button" id="downAll" value="下载整本书html" class="ext_btn ext_btn_success"/>
	</td>
  </tr>
</table>
</div>
</body>
</html>
<script type="text/javascript">
$(function(){
  $.ajaxSetup({async:false});
});

$(function(){
  getNianji();

  $("#nianji").change(function(){
    getBanben();
  });
  $("#xueqi").change(function(){
    getBanben();
  });
  $("#banben").change(function(){
    getKecheng();
  });
});

function getKecheng()
{
  var nianji = $("#nianji").val();
  var xueqi = $("#xueqi").val();
  var versionid = $("#banben").val();
  var dloading = art.dialog({time:30,title:'加载中……',width:130,height:30,opacity:0.3,lock:true});
  $("#table_data td").parents("tr").remove();
   $.getJSON("../hanzi/kckecheng", {nianji:nianji,xueqi:xueqi,versionid:versionid,random:Math.random()}, function(data){
    var i = 0;
    $.each(data, function(i,val){
      i++;
      var tr = $("#table_demo tr").eq(0).clone();
      var td = tr.children('td').eq(0);
      td.html(i);
	  tr.children('td').eq(1).children('input').val(i);
      td = tr.children('td').eq(2);
      td.html(val.kecheng);
	  tr.children('td').eq(3).html('http://www.baidu.com?id=k'+val.id);
	  td = tr.children('td').eq(4);
	  if(val.url==null||val.url==''){
	  	td.html('否');
	  }else{
	  	td.html('是');
	  }

      tr.find("input").attr("BID",val.id);
      tr.find("a").attr("href","../Hanzi/flashdown/kechengid/" + val.id);

      $("#table_data .ext_btn_listen").attr("dvideo",val.mp3);
      tr.appendTo("#table_data");
    });
  });
  $(".tr:odd").css("background", "#F5F8FA");
  sleep(500);
  dloading.close();

}

function sleep(d){
  for(var t = Date.now();Date.now() - t <= d;);
}

function getNianji()
{
  $("#nianji").empty();
  $.getJSON("../hanzi/kcnianji", {random:Math.random()}, function(data){
    $("#banben").empty();
    $("#kecheng").empty();
    $.each(data, function(key,val){
      $('#nianji').append($("<option>").val(key).text(key));
    });
  });
  getXueqi();
}

function getXueqi()
{
  $("#xueqi").empty();
  var nianji = $("#nianji").val();
  $.getJSON("../hanzi/kcxueqi", {random:Math.random()}, function(data){
    $("#banben").empty();
    $("#kecheng").empty();
    $.each(data, function(key,val){
      $('#xueqi').append($("<option>").val(val).text(val));
    });
  });
  getBanben();
}

function getBanben()
{
  $("#banben").empty();
  var nianji = $("#nianji").val();
  var xueqi = $("#xueqi").val();
  $.getJSON("../hanzi/kcbanben", {nianji:nianji,xueqi:xueqi,random:Math.random()}, function(data){
    $("#kecheng").empty();
    $.each(data, function(i,val){
      $('#banben').append($("<option>").val(val.id).text(val.banben));
    });
  });
  getKecheng();
}

//点击导入按钮
$("input[name='up']").live('click',function(){
	var bid=$(this).attr('bid');
	var myDialog=$.dialog.open('importFlash?ran='+Math.random()+'&id='+bid,{
			cancel:false,
			title:'导入flash',
			window : 'top',
			width : 430,
			height : 160,
			lock : true,
			opacity : 0.3,
			button : [
				 {
					name : '关闭',
					callback:function(){
					},
					focus:true
				} ]
		});
});


//点击更新排序按钮
$('#sort').click(function(){
	var sortsInfoArray=[];
	$('.list_table input[name="xuhao"]').each(function(k,v){
		var obj={};
		obj.id=$(v).attr('bid');
		obj.sortid=$(v).val();
		sortsInfoArray.push(obj);
	});
	//alert(JSON.stringify(sortsInfoArray));return false;
	$.post('../Hanzi/updateSort',{ran:Math.random(),sortsInfo:JSON.stringify(sortsInfoArray)},function(data){
		 getKecheng();
     alert("排序保存成功");
	});
});


//删除
$('input[name="del"]').live('click',function(){
	var id=$(this).attr('bid');//动画id
	var aa=$(this).parent().parent();
	if($.dialog.confirm('确定删除？',function(){
		$.get('../Hanzi/delKecheng',{ran:Math.random(),id:id},function(data){
			$(aa).remove();
		});
	}));
});



$('input[name="down"]').live('click',function(){
  var id=$(this).attr('bid');
  window.open('../Sz/getSzHtml?id='+id);
});

$('input[name="downjson"]').live('click',function(){
  var id=$(this).attr('bid');
  window.open('../hanzi/downloadZiJson?ksId='+id);
});

$('#downAll').click(function(){
  var nianji = $("#nianji").val();
  var xueqi = $("#xueqi").val();
  var banben = $("#banben").val();
  window.open('../Sz/getSzHtml?nianji='+nianji+'&xueqi='+xueqi+'&banben='+banben);
});
</script>