<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!--主要样式-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pageGroup/pageGroup.css"/>


<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/pageGroup.js"></script>

<title>无标题文档</title>
</head>

<body>

<div id="pageGro" class="cb">
	<div class="first">首页</div>
	<div class="pageUp">上一页</div>
    <div class="pageList">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>
    <div class="pageDown">下一页</div>
	<div class="end">尾页</div>
</div>

</body>
</html>
