<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>语文动画系统-优教通</title> 
</head>
<frameset rows="74,*" cols="100%" frameborder="no" border="0" framespacing="0" scrolling="no" >
 <frame src="{:U('index/top')}" name="topFrame" scrolling="no" noresize="noresize" id="topFrame" title="topFrame">
 <frameset cols="187,*" frameborder="no" border="0" framespacing="0">
  <frame src="{:U('index/menu')}" name="leftFrame" scrolling="no" noresize="noresize" id="leftFrame" title="leftFrame">
  <frame src="{:U('index/main')}" name="mainFrame" id="mainFrame" title="mainFrame">
 </frameset> 
</frameset> 
<noframes>
<body>
<p>对不起，您的浏览器不支持“框架”！</p>
</body>
</noframes>
</html>
