<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>编辑模版</title>
<link href="__PUBLIC__/css/style/manage.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="place"><strong>位置</strong>：首页 &gt; 位置导航</div>
<div class="container">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box_border">
  <tr>
    <td class="box_top pl_10 f14"><strong>搜索</strong></td> 
  </tr>
  <tr>
    <td height="50"> 
      <input type="button" name="button" class="btn btn82 btn_add" value="新增" />
      <input type="button" name="button2" class="btn btn82 btn_del" value="删除" />
      <input type="submit" name="button3" class="btn btn82 btn_save2" value="确定" />
	  <input type="button" name="button2" class="btn btn82 btn_config" value="配置" />
      <input type="button" name="button2" class="btn btn82 btn_count" value="统计" />
      <input type="button" name="button2" class="btn btn82 btn_checked" value="全选" />
      <input type="button" name="button2" class="btn btn82 btn_nochecked" value="取消" />
      <input type="button" name="button2" class="btn btn82 btn_export" value="导出" />
      <input type="button" name="button2" class="btn btn82 btn_recycle" value="回收站" />
      <input type="button" name="button2" class="btn btn82 btn_search" value="查询" />
    </td> 
  </tr>
  <tr>
    <td height="50"> 
    <input type="submit" value="确定" class="ext_btn ext_btn_submit" />
    <input type="button" value="返回" onclick="location.href='javascript:history.go(-1)'" class="ext_btn" />
    <input type="button" class="ext_btn ext_btn_success" value="成功" />
    <input type="button" class="ext_btn ext_btn_error" value="错误" />
    <a class="ext_btn"><span class="add"></span>添加</a>
  	</td>
  </tr> 
</table>
</div>
</body>
</html>
