<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图标生成</title>
<link href="__PUBLIC__/css/style/manage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ArtDialog/jquery.artDialog.js?skin=green"></script>
<script type="text/javascript" src="__PUBLIC__/js/iframeTools.js"></script>
</head>
<body>

	<div class="container">
		<div style="display:inline-block;"><img src='../Jpgraph/index1'/></div>
        <div style="display:inline-block;"><img src='../Jpgraph/index3'/></div>
		<div style="display:inline-block;"><img src='../Jpgraph/index4'/></div>
		<div class="h5"></div>
        <div style="display:inline-block;"><img src='../Jpgraph/index2'/></div>
        <div style="display:inline-block;"><img src='../Jpgraph/index5'/></div>

	</div>



</body>
</html>
<script>

</script>