@CHARSET "UTF-8";
/* CSS Document */

* {padding:0;margin:0;border:0px}
body {background:url(content0.gif);font:normal 12px 宋体;color:#666; overflow-y:scroll; overflow-y:hidden \9;}
a,a:active,a:visited{ text-decoration:none; color:#666;}
a:hover{ text-decoration:underline;}

a.blue:link {font-family:宋体;font-weight:normal;font-size:12px;color:#168acc;text-decoration:none;}
a.blue:visited {font-family:宋体;font-weight:normal;font-size:12px;color:#168acc;text-decoration:none;}
a.blue:hover {font-family:宋体;font-weight:normal;font-size:12px;color:#d84c00;text-decoration:underline;}
a.blue:active {font-family:宋体;font-weight:normal;font-size:12px;color:#168acc;text-decoration:none;}

h1,h2,h3,h4,h5,h6 {font-size:12px;font-weight:bold;}
ul,li{ list-style:none;}
input,img,select,button {vertical-align:middle;font-size:12px;}

.place{background-color:#EDF6FA;border-bottom:1px solid #D7E4EA;border-top:1px solid #FFF;line-height:38px;padding-left:15px;}

/*注册表单*/

.biaodan label {width:60px;display:block;float:left;text-align:right;margin-right:15px;display:inline;font-weight:bold; padding-top:11px;padding-top:8px \9;}
label span {padding-left:5px;}
.biaodan {margin-left:40%;margin-top:4%;}
.biaodan p {padding:0 0 ;clear:both;}
.biaodan p span {padding-left:10px;color:#989898;height:26px;overflow:hidden;display:inline-block;width:260px; line-height:38px;line-height:26px \9;}
.textbox { background:#fff url(textboxBg1.jpg) repeat-x top center;height:23px;line-height:23px;padding:0 5px;border:1px solid #aeaeae;width:110px;color:#666;font-size:12px;}
.textbox2 { background:url(textboxBg3.jpg) repeat-x top center;height:23px;line-height:23px;padding:0 5px;border:1px solid #ffa044;width:110px;color:#666;font-size:12px;}

.textbox_big { background:url(textboxBg2.jpg) repeat-x;height:28px;line-height:28px;border:1px solid #aeaeae;padding:0 5px;width:300px;color:#555;font-size:12px; margin-top:5px;}
.textbox_big2 { background:url(textboxBg3.jpg) repeat-x;height:28px;line-height:28px;border:1px solid #ffa044;padding:0 5px;width:300px;color:#555;font-size:12px;  margin-top:5px;}
.redfon {color:#d84c00;}
.redfon2 {color:#d84c00;font:bold 16px/18px Arial;}
.b_line {border-bottom:1px solid #e4e4e4;}

a.b_tj,a.b_tj:visited {background:url(btn_tj.png) no-repeat 0 0;width:107px;height:30px;font:bold 16px/30px 微软雅黑;color:#fff;text-align:center;display:inline-block;}
a.b_tj:hover {background-position:0 -30px;text-decoration:none;}

a.b_tj2,a.b_tj2:visited {background:url(btn_tj2.png) no-repeat 0 0;width:180px;height:36px;font:bold 15px/36px 微软雅黑;color:#fff;text-align:center;display:inline-block;margin-right:10px;}
a.b_tj2:hover {background-position:0 -36px;text-decoration:none;}

a.b_tj3,a.b_tj3:visited {background:url(gray_btn.png) no-repeat 0 0;width:137px;height:36px;font:bold 15px/36px 微软雅黑;color:#555;text-align:center;display:inline-block;}
a.b_tj3:hover {background-position:0 -36px;text-decoration:none;}
.biaodan p { padding-bottom:10px;}

.add{background:url(jia.png) repeat-x;}
.sub{background:url(jian.png) repeat-x;}
input,img,select{vertical-align:middle;}
select{*vertical-align:top;} 
.select{border:1px solid #bac7d2;padding:4px 1px;font-size:12px;height:30px;*margin:-1px;border-radius:2px;box-shadow:2px 2px 2px #e7f1f7 inset;}

