<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>裁剪头像</title>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/ArtDialog/jquery.artDialog.js?skin=default"></script>
	<script type="text/javascript" src="__PUBLIC__/js/iframeTools.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.Jcrop.min.js"></script>
	<link href="__PUBLIC__/css/jcrop/jquery.Jcrop.css" rel="stylesheet" type="text/css" />
	<style>
		html{overflow-x:hidden}
		.btn_3 {background:#fafafa;border-top:1px solid #e4e4e4;padding:10px 0 10px 10px;text-align:right;}
		a.okBtn,a.okBtn:visited {background:url(__PUBLIC__/css/jcrop/but_bg.gif) no-repeat; width:63px; height:27px; line-height:25px; display:block; text-align:center; color:#fff; float:right; margin-right:50px; margin-right:10px \9;}
	</style>
	<script type="text/javascript">
//	window.parent.document.getElementById("uploadPhoto").style.height = "320px";
//	//alert(window.parent.window.art.dialog({ id: 'uploadPhotoDialog' }));
//	window.parent.window.art.dialog({id:'uploadPhotoDialog'}).size(520,320);

	$(document).ready(function(){
    	//var imgSrc = document.getElementById("target").src;
		var imgSrc = $('#target').attr('src');
		//window.parent.document.getElementById("photoPic").src = imgSrc;
    });

	var x;
    var y;
    var width;
    var height;

    jQuery(function($){

      // Create variables (in this scope) to hold the API and image size
      var jcrop_api, boundx, boundy;

      $('#target').Jcrop({
        onChange: updatePreview,
        onSelect: updatePreview,
        setSelect: [ 0, 0, 100, 100 ],
        boxWidth:250,
        boxHeight:300,
        aspectRatio: 1,
        keySupport:false
      },function(){
        // Use the API to get the real image size
        var bounds = this.getBounds();
        boundx = bounds[0];
        boundy = bounds[1];
        // Store the API in the jcrop_api variable
        jcrop_api = this;
      });

      function updatePreview(c)
      {
        if (parseInt(c.w) > 0)
        {
          var rx = 100 / c.w;
          var ry = 100 / c.h;

          $('#preview').css({
            width: Math.round(rx * boundx) + 'px',
            height: Math.round(ry * boundy) + 'px',
            marginLeft: '-' + Math.round(rx * c.x) + 'px',
            marginTop: '-' + Math.round(ry * c.y) + 'px'
          });

          $('#width').val(c.w);
          $('#height').val(c.h);
          $('#x').val(c.x);
          $('#y').val(c.y);
        }
      };

    });

    var clickFlag = true;
    function cutPhoto(){
    	if ( clickFlag ) {
        	x = document.getElementById("x").value;
        	y = document.getElementById("y").value;
        	width = document.getElementById("width").value;
        	height = document.getElementById("height").value;
			imgurl = $("#preview").attr('src');
        	if ( width > 0 && height > 0 ) {
        		clickFlag = false;
        		$('#cutBut').css("color","#CCC");
            	$('#cutBut').unbind("click");
        		$.ajax({
        			url:'../Photos/cutPic',
        			data:{'x':x,'y':y,'width':width,'height':height,'imgurl':imgurl},
        			type:'GET',
        			success:function(data){
						window.parent.setImg(data);
        				window.parent.window.art.dialog({id:'uploadPhotoDialog'}).close();
        			}
        		});
        	} else {
        		art.dialog.tips('截取图片的高度或宽度不能小于0!', 2);
        	}
    	}
    }



  </script>
  </head>

  <body>

	<div style="height:180px;width:520px;overflow:hidden;">
		<table width="100%">
			<tr>
				<td align="center">
					<div style="width:100px;height:100px;overflow:hidden;">
					<img src="../../{$url}" id="preview" alt="Preview" />
					<!--	<img src="http://vfs.youjiaotong.com:80/tms/upload/user/teacher/20151208/9/41010100010115.jpg?45830" id="preview" alt="Preview" /> -->
					</div>
					<p style="margin-top: 5px;">原图</p>
				</td>
				<td align="center">
					<div style="margin-top:30px;">
					<img src="../../{$url}" id="target" alt="Flowers"/>
					<!--	<img src="http://vfs.youjiaotong.com:80/tms/upload/user/teacher/20151208/9/41010100010115.jpg?46694" id="target" alt="Flowers"/> -->
					</div>
					<p style="margin-top: 5px;">拖动矩形框裁剪图片</p>

				</td>
			</tr>
		</table>
	</div>

	<form name="photoForm" id="photoForm" action="ucUser/cutPic.do" method="post">
	<input type="hidden" name="image.x" id="x"/>
    <input type="hidden" name="image.y" id="y"/>
    <input type="hidden" name="image.width" id="width"/>
    <input type="hidden" name="image.height" id="height"/>

    <div class="btn_3" style="position:absolute;width:510px;bottom:0;left:0;display:block;">

    	<a id="cutBut" class="okBtn" href="javascript:void(0);" onclick="cutPhoto();" style="background-image:url(__PUBLIC__/css/jcrop/but_bg.gif);">剪切</a>

	</div>
	</form>

	</body>
</html>