<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ebook</title>

</head>

<div  align="center">
<embed id="aaa" src="__PUBLIC__/play.swf" allowFullScreen="true" allowFullScreenInteractive="true" wmode="transparent" quality="high" width="272" height="100" align="L" scale="noborder" flashvars="mp3Url=../{$filepath}&startTime={$st}&endTime={$end}&mp3name=aaaa" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" >
</embed>

</div>


<body>
</body>
</html>
