<!DOCTYPE public>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="artDialog的用法，弹窗">
<meta name="description" content="artDialog的用法">
<title>artDialog的用法</title>
<link href="__PUBLIC__/css/style/manage.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="place">
		<strong>位置</strong>：首页 &gt; 常用功能
	</div>
	<div class="container">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list_table">
			<tr>
				<th>导出excel</th>
				<td>Excel/makeExcel</td>
			</tr>
			<tr>
				<th>分页</th>
				<td>Excel/makeExcel</td>
			</tr>
		</table>
	</div>
</body>
</html>