<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关键字</title>
<link href="__PUBLIC__/style/manage.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/js/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/js/iframeTools.js"></script>
<script type="text/javascript">
</script>
<body>
	<div class="container">
		<table width="100%" border="0" cellspacing="0" cellpadding="0"
			class="box_border">
			<tr>
				<td class="box_top pl_10 f14"><strong>请勾选或填写对应的关键字(<font color="red">最多4个</font>)</strong></td>
			</tr>
			<tr>
				<td class="p5">
					<form action="wordadd_list.html" method="get">
						<table width="100%" border="0" cellspacing="0" cellpadding="0"
							class="form_table">
							<tr>
								<td><input type="checkbox" name="tags" value="父亲" />父亲&nbsp;</td>
								<td><input type="checkbox" name="tags" value="母亲" />母亲&nbsp;</td>
								<td><input type="checkbox" name="tags" value="亲情" />亲情&nbsp;</td>
								<td><input type="checkbox" name="tags" value="友情" />友情&nbsp;</td>
								<td><input type="checkbox" name="tags" value="师生情" />师生情&nbsp;</td>
								<td><input type="checkbox" name="tags" value="离别欢聚" />离别欢聚&nbsp;</td>
								<td><input type="checkbox" name="tags" value="成长" />成长&nbsp;</td>
								<td><input type="checkbox" name="tags" value="校园" />校园&nbsp;</td>
								<td><input type="checkbox" name="tags" value="学习" />学习&nbsp;</td>
								<td><input type="checkbox" name="tags" value="生活" />生活&nbsp;</td>
								<td><input type="checkbox" name="tags" value="观察" />观察&nbsp;</td>
								<td><input type="checkbox" name="tags" value="探索" />探索&nbsp;</td>
								<td><input type="checkbox" name="tags" value="哲理方法" />哲理方法&nbsp;</td>
								<td><input type="checkbox" name="tags" value="城市" />城市&nbsp;</td>
								<td><input type="checkbox" name="tags" value="乡村" />乡村&nbsp;</td>
								<td><input type="checkbox" name="tags" value="故乡" />故乡&nbsp;</td>
								<td><input type="checkbox" name="tags" value="祖国" />祖国&nbsp;</td>
								<td><input type="checkbox" name="tags" value="革命故事" />革命故事&nbsp;</td>
								<td><input type="checkbox" name="tags" value="战争和平" />战争和平&nbsp;</td>
								<td><input type="checkbox" name="tags" value="四季" />四季&nbsp;</td>
								<td><input type="checkbox" name="tags" value="环境" />环境&nbsp;</td>
								<td><input type="checkbox" name="tags" value="自然" />自然&nbsp;</td>
								<td><input type="checkbox" name="tags" value="风景景观" />风景景观&nbsp;</td>
								<td><input type="checkbox" name="tags" value="动物" />动物&nbsp;</td>
								<td><input type="checkbox" name="tags" value="生命" />生命&nbsp;</td>
								<td><input type="checkbox" name="tags" value="奉献关爱" />奉献关爱&nbsp;</td>
								<td><input type="checkbox" name="tags" value="品质" />品质&nbsp;</td>
								<td><input type="checkbox" name="tags" value="名著" />名著&nbsp;</td>
								<td><input type="checkbox" name="tags" value="名人" />名人&nbsp;</td>
								<td><input type="checkbox" name="tags" value="传说" />传说&nbsp;</td>
								<td><input type="checkbox" name="tags" value="科学科技" />科学科技&nbsp;</td>
								<td><input type="checkbox" name="tags" value="未来" />未来&nbsp;</td>
							</tr>
						</table>

					</form>
					<div class="h10"></div>
				</td>
			</tr>
			<tr>
				<td><input type="text" id="tagname" placeholder="自定义关键字" class="input-text"/></td>
			</tr>
		</table>
	</div>
</body>
</html>