<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>菜单</title>
<script language="JavaScript" src="__PUBLIC__/js/jquery.min.js"></script>
<link href="__PUBLIC__/bgcss/style/menu.css" rel="stylesheet" type="text/css" />
<script  type="text/javascript">
$(function(){
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});

	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})
</script>
</head>
<body>
    <div class="lefttop"><span></span>功能菜单</div>
    <dl class="leftmenu">
        <dd>
            <div class="title"><span></span>教材管理</div>
            <ul class="menuson">
                <li><cite></cite><a href="{:U('Book/import')}" target="mainFrame">图片导入</a><i></i></li>
                <li><cite></cite><a href="{:U('Book/changeStart')}" target="mainFrame">左右位置调整</a><i></i></li>
                <li><cite></cite><a href="{:U('Book/pageSet')}" target="mainFrame">课程页码设置</a><i></i></li>
				<!-- <li><cite></cite><a href="{:U('Book/preview')}" target="mainFrame">预览书籍</a><i></i></li> -->
				<li><cite></cite><a href="{:U('Book/excelDown')}" target="mainFrame">excel模版下载</a><i></i></li>
                <li><cite></cite><a href="{:U('Book/audioInfo')}" target="mainFrame">课程mp3管理</a><i></i></li>
                <li><cite></cite><a href="{:U('Book/outFileInfo')}" target="mainFrame">教材信息预览和导出</a><i></i></li>
                <li><cite></cite><a href="{:U('Book/books')}" target="mainFrame">图书管理</a><i></i></li>
            </ul>
        </dd>
<!--
        <dd>
            <div class="title"><span></span>模版管理</div>
            <ul class="menuson">
                <li><cite></cite><a href="{:U('Arithmetic/tp_list')}" target="mainFrame">动画模版管理</a><i></i></li>
            </ul>
        </dd>
		<dd>
        	<div class="title"><span></span>基础信息管理</div>
            <ul class="menuson">
                <li><cite></cite><a href="{:U('user/pwdmgr')}" target="mainFrame">登陆密码修改</a><i></i></li>
                <if condition="$Think.session.ifadmin eq 1">
                <li><cite></cite><a href="{:U('user/list')}" target="mainFrame">人员信息设置</a><i></i></li>
                </if>
            </ul>
        </dd>
-->
    </dl>
</body>
</html>
